.elementor-27 .elementor-element.elementor-element-d4df340>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-27 .elementor-element.elementor-element-2ce90b1>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-27 .elementor-element.elementor-element-4749ae3>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-27 .elementor-element.elementor-element-4749ae3 {
    padding: 130px 0px 130px 0px;
}

.elementor-27 .elementor-element.elementor-element-a2c7315>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-27 .elementor-element.elementor-element-a2c7315>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-27 .elementor-element.elementor-element-e8f7238>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-27 .elementor-element.elementor-element-e8f7238>.elementor-element-populated {
    margin: 0px 0px 0px 25px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 25px;
    padding: 0px 15px 0px 15px;
}

.elementor-27 .elementor-element.elementor-element-4c3649f .sec-title {
    text-align: start;
}

.elementor-27 .elementor-element.elementor-element-4c3649f>.elementor-widget-container {
    margin: 0px 0px 15px 0px;
}

.elementor-27 .elementor-element.elementor-element-bfc7e3f {
    font-family: "Space Grotesk", Sans-serif;
    font-weight: 400;
}

.elementor-27 .elementor-element.elementor-element-bfc7e3f>.elementor-widget-container {
    margin: 0px 0px 40px 0px;
}

.elementor-27 .elementor-element.elementor-element-9e07359 {
    text-align: left;
    width: auto;
    max-width: auto;
    bottom: -140px;
    z-index: -1;
}

body:not(.rtl) .elementor-27 .elementor-element.elementor-element-9e07359 {
    left: -40px;
}

body.rtl .elementor-27 .elementor-element.elementor-element-9e07359 {
    right: -40px;
}

.elementor-27 .elementor-element.elementor-element-12eb5bb:not(.elementor-motion-effects-element-type-background),
.elementor-27 .elementor-element.elementor-element-12eb5bb>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #05092B;
}

.elementor-27 .elementor-element.elementor-element-12eb5bb {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 120px 0px 120px 0px;
}

.elementor-27 .elementor-element.elementor-element-12eb5bb>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-27 .elementor-element.elementor-element-8e6275a>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-27 .elementor-element.elementor-element-646bdd9>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-27 .elementor-element.elementor-element-a726483 {
    padding: 130px 0px 100px 0px;
}

.elementor-27 .elementor-element.elementor-element-d1e5068>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-27 .elementor-element.elementor-element-d1e5068>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-27 .elementor-element.elementor-element-a7a8da8 .sec-title {
    text-align: start;
}

.elementor-27 .elementor-element.elementor-element-a7a8da8>.elementor-widget-container {
    margin: 0px 0px 15px 0px;
}

.elementor-27 .elementor-element.elementor-element-154f06a {
    font-family: "Space Grotesk", Sans-serif;
    font-weight: 400;
}

.elementor-27 .elementor-element.elementor-element-154f06a>.elementor-widget-container {
    margin: 0px 0px 40px 0px;
}

.elementor-27 .elementor-element.elementor-element-b1e677e>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-27 .elementor-element.elementor-element-8cbb506 {
    padding: 0px 0px 0px 0px;
}

.elementor-27 .elementor-element.elementor-element-25883e8:not(.elementor-motion-effects-element-type-background),
.elementor-27 .elementor-element.elementor-element-25883e8>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F9F9F9;
}

.elementor-27 .elementor-element.elementor-element-25883e8 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 120px 0px 85px 0px;
}

.elementor-27 .elementor-element.elementor-element-25883e8>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-27 .elementor-element.elementor-element-7357acf>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-27 .elementor-element.elementor-element-7357acf>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-27 .elementor-element.elementor-element-a4a3641>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: flex-end;
    align-items: flex-end;
}

.elementor-27 .elementor-element.elementor-element-a4a3641 {
    margin-top: 0px;
    margin-bottom: 15px;
    padding: 0px 0px 0px 0px;
}

.elementor-27 .elementor-element.elementor-element-74a918f>.elementor-element-populated {
    margin: 0px 0px 20px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-27 .elementor-element.elementor-element-354f634 .sec-title {
    text-align: start;
}

.elementor-27 .elementor-element.elementor-element-354f634>.elementor-widget-container {
    margin: 0px 0px 15px 0px;
}

.elementor-27 .elementor-element.elementor-element-c824cd4>.elementor-element-populated {
    margin: 0px 0px 20px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-27 .elementor-element.elementor-element-f8a9e71 {
    font-family: "Space Grotesk", Sans-serif;
    font-weight: 400;
}

.elementor-27 .elementor-element.elementor-element-f8a9e71>.elementor-widget-container {
    margin: 0px 0px 15px 0px;
    padding: 0px 0px 0px 40px;
}

.elementor-27 .elementor-element.elementor-element-92c5e5c {
    padding: 130px 0px 120px 0px;
}

.elementor-27 .elementor-element.elementor-element-0c6caba>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-27 .elementor-element.elementor-element-4180041>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-27 .elementor-element.elementor-element-e24cf63>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-27 .elementor-element.elementor-element-e24cf63>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-27 .elementor-element.elementor-element-bec3aeb .sec-title {
    text-align: start;
}

.elementor-27 .elementor-element.elementor-element-bec3aeb>.elementor-widget-container {
    margin: 0px 0px 25px 0px;
}

.elementor-27 .elementor-element.elementor-element-17bdf05>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-27 .elementor-element.elementor-element-20a9c41 {
    text-align: left;
    width: auto;
    max-width: auto;
    bottom: -345px;
    z-index: -1;
}

.elementor-27 .elementor-element.elementor-element-20a9c41 img {
    opacity: 0.1;
}

body:not(.rtl) .elementor-27 .elementor-element.elementor-element-20a9c41 {
    left: 0px;
}

body.rtl .elementor-27 .elementor-element.elementor-element-20a9c41 {
    right: 0px;
}

.elementor-27 .elementor-element.elementor-element-7d6011e:not(.elementor-motion-effects-element-type-background),
.elementor-27 .elementor-element.elementor-element-7d6011e>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #05092B;
}

.elementor-27 .elementor-element.elementor-element-7d6011e>.elementor-background-overlay {
    background-image: url("https://itcroctheme.com//wp/wp-content/uploads/2024/03/shape-1-6.png");
    background-position: top left;
    background-repeat: no-repeat;
    opacity: 0.7;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-27 .elementor-element.elementor-element-7d6011e {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -120px;
    margin-bottom: 0px;
    padding: 240px 0px 130px 0px;
}

.elementor-27 .elementor-element.elementor-element-7d81cd2>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-27 .elementor-element.elementor-element-3bdf628>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-27 .elementor-element.elementor-element-3bdf628>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-27 .elementor-element.elementor-element-005612a .sec-title {
    text-align: center;
}

.elementor-27 .elementor-element.elementor-element-005612a .tg-section-title {
    color: #FFFFFF;
}

.elementor-27 .elementor-element.elementor-element-005612a>.elementor-widget-container {
    margin: 0px 0px 65px 0px;
}

.elementor-27 .elementor-element.elementor-element-a0be31e:not(.elementor-motion-effects-element-type-background),
.elementor-27 .elementor-element.elementor-element-a0be31e>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F9F9F9;
}

.elementor-27 .elementor-element.elementor-element-a0be31e {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 90px 0px 90px 0px;
}

.elementor-27 .elementor-element.elementor-element-a0be31e>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-27 .elementor-element.elementor-element-b1f9145>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-27 .elementor-element.elementor-element-95efc52 {
    padding: 0px 0px 010px 0px;
}

.elementor-27 .elementor-element.elementor-element-919c0fc>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-27 .elementor-element.elementor-element-919c0fc>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-27 .elementor-element.elementor-element-6895f20 {
    text-align: left;
    width: 100%;
    max-width: 100%;
    top: 0px;
    z-index: -1;
}

.elementor-27 .elementor-element.elementor-element-6895f20 img {
    opacity: 0.4;
}

body:not(.rtl) .elementor-27 .elementor-element.elementor-element-6895f20 {
    left: 0px;
}

body.rtl .elementor-27 .elementor-element.elementor-element-6895f20 {
    right: 0px;
}

.elementor-27 .elementor-element.elementor-element-a61453a {
    padding: 115px 0px 90px 0px;
}

.elementor-27 .elementor-element.elementor-element-773e62b>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-27 .elementor-element.elementor-element-773e62b>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-27 .elementor-element.elementor-element-23f3f75 .sec-title {
    text-align: center;
}

.elementor-27 .elementor-element.elementor-element-23f3f75>.elementor-widget-container {
    margin: 0px 0px 55px 0px;
}

.elementor-27 .elementor-element.elementor-element-c0e4242>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-27 .elementor-element.elementor-element-c0e4242>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-27 .elementor-element.elementor-element-f752cd6 {
    text-align: right;
    width: 100%;
    max-width: 100%;
    bottom: 0px;
    z-index: -1;
}

body:not(.rtl) .elementor-27 .elementor-element.elementor-element-f752cd6 {
    left: 0px;
}

body.rtl .elementor-27 .elementor-element.elementor-element-f752cd6 {
    right: 0px;
}

@media(max-width:1024px) {
    .elementor-27 .elementor-element.elementor-element-4749ae3 {
        padding: 90px 0px 120px 0px;
    }

    .elementor-27 .elementor-element.elementor-element-e8f7238>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
}

@media(max-width:767px) {
    .elementor-27 .elementor-element.elementor-element-f8a9e71>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
}

@media(min-width:768px) {
    .elementor-27 .elementor-element.elementor-element-d1e5068 {
        width: 34%;
    }

    .elementor-27 .elementor-element.elementor-element-b1e677e {
        width: 66%;
    }
}